@import "../../styles/scss//variables.scss";

.form-input{
 height: 6vh;
 margin: 0% 0% 5% 0%;
 border: none;
 fill: white;
 border-bottom: 2px solid $red_color;
 border-radius: none;
 width: 100% !important;
}
.input-label{
font-size: 12px;
font-weight: 600;
 margin-left: 1%;
}
.form-btn{
 background: $red_color;
 border: none;
 width: 100%;
 color: white;
 margin-top: 5%;
 height: 6vh;
 cursor: pointer;
}
